service: aws-lambda-elasticsearch-time-based-index-deletion

provider:
  name: aws
  runtime: nodejs12.x
  timeout: 120
  region: ${env:AWS_REGION}
  memorySize: 256
  iamRoleStatements:
    - Effect: Allow
      Action:
        - lambda:InvokeFunction
      Resource: "*"